{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{{ title }}</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/blog/blog_home">Blog</a>
        <a href="/store/store_home">Store</a>
        {% if user.is_authenticated %}
            <a href="/logout/">Logout</a>
            <span>Welcome, {{ user.username }}!</span>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="/login/">Login</a>
            <a href="/signup/">Sign Up</a>
        {% endif %}
    </nav>



    {% block content %}
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    {% endblock %}

</body>
</html>